[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
djangorestframework = "*"
django-debug-toolbar = "*"
python-dotenv = "*"
boto3 = "*"
django-storages = "*"
django = "*"
django-cors-headers = "*"
stripe = ">=5.4.0,<6.0.0"
dj-stripe = "*"

[dev-packages]

[requires]
python_version = "3.11"
